* {
  margin: 0;
}

body {
  background-color: #f0f0f0;
}

.header-container {

  padding: 100px 0;
  display: flex;
  text-align: center;
  justify-content: center;

}

h1 {
  justify-content: center;
}

.pages-list {
  margin: 0;
  padding: 0;
}

#p-header {
  margin-top: 25px;
}

/* Homepage CSS */

.icon-container {
  display: flex;
  justify-content: center;
}

.icon-grid {
  display: flex;
  align-items: center;
}
.heart-icon, .soul-icon, .mind-icon {
  display: flex;
  justify-content: center;
  margin: 200px;
}

.extras-list {
  margin: 0;
  padding: 0;
}

#nav {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#nav > ul > li {
  display: inline-block;
  padding: 10px;

}
/* Homepage CSS */
