@font-face {
  font-family: "cagliostro";
  src: url(fonts/Cagliostro/Cagliostro-Regular.ttf);
}

@font-face {
  font-family: "inconsolata";
  src: url(fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: "average-sans";
  src: url(fonts/Average_Sans/AverageSans-Regular.ttf);
}

@media only screen and (max-width: 400px) {
  * {
    grid-template-columns: 1;
    flex-direction: column;
  }

}

body {
  display: block;
  background-color: #bab0a6;
  max-width: 70em;
  margin: auto;
}

h1 {
  font-family: cagliostro;
  font-size: 4em;
  color: #4d5d53; /* Dark Grey/Green */
  text-align: center;
  margin: 0px;
}

h2 {
  font-family: average-sans;
  font-size: 2em;
  color: #484e4f; /* Medium Grey */
  margin-top: 0px;
  text-align: center;

}
h2 > em {
  color: #4d5d53;
}

h3 {
  font-family: cagliostro;
  color: #4d5d53;
  font-size: 3em;
}

p {
  font-family: average-sans;
  color: #201913; /* Black */
}

a {
  color: #201913;
  text-decoration: none;
}

 a:hover {
  color: #78866b; /* Light Green */
  text-decoration: underline;
}

/* Home CSS */

.home-page {
  display: grid;
  grid-template-rows: repeat(4, minmax(max-content));
}

.nav {
 font-family: inconsolata;
 display: flex;
 justify-content: center;
}

ul {
  margin-bottom: 0px;
  padding: 0px;
}

.nav > ul > li {
  display: inline-block;
  padding: 15px;
  justify-content: space-between;
}

.header-home {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  justify-content: center;
  box-shadow: inset 0px -4px 0px 0px #757c78; /* Light Grey/Green */
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);

}

.icon > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.icon-link:hover {
  opacity: .5;

}

.label-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

#home-icon-label, .label{
  font-family: cagliostro;
  color: #4d5d53;
  display: flex;
  justify-content: center;
}

.summary-container {
  display: flex;
  margin-top: 20px;
}

.summary-box {
  padding-left: 14px;
  padding-right: 12px;
  box-shadow: inset 0px 0px 20px 10px #757c78;
}

/* Home CSS */


.features-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

/* Heart CSS */

#heart-titles {
  font-family: cagliostro;
  display: flex;
  justify-content: center;
}

.heart-caption {
  margin: 10px;
  text-align: center;
}

.blog-header {
  display: grid;
  grid-template-columns: 2;
  text-align: center;
}

.blog-header > h3 {
  margin-bottom: 10px;
}

.blog-header > p {
  font-size: 1.5em;
  color: #484e4f;
}

.blog {
 display: flex;
 justify-content: center;
 margin-top: 25px;
}

.bottom-icon > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* Heart CSS */

/* Soul CSS */

.songs-container {
  display: grid;
  grid-template-columns: 2, minmax(max-content);
  grid-template-rows: 2, minmax(max-content);
  width: 100%;
  border-style: ridge;
  border-color: #757c78;
  background-color: #babfa8;
  text-align: center;
}

.songs-explain > p {
  margin: 25px;
  font-size: 1.5em;
  color: #484e4f;
}

.music-box {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.songs {
  text-align: center;
}


.books-container {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: repeat (2, 1fr);
  width: 80%;
  border-style: ridge;
  border-color: #757c78;
  background-color: #babfa8;
  text-align: center;
  margin-left: 10%;
}

.books {
  text-align: center;
}

.books-container > a {
  font-family: inconsolata;

}

.book-image > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 20%;
}

.books-container > p {
  font-family: average-sans;
  font-size: 2em;
  color: #484e4f; /* Medium Grey */
}

/* Soul CSS */


/* Mind CSS */

.podcasts {
  text-align: center;
}

.papers {
  text-align: center;
}

.podcast-container {
  display: inline-block;
  width: 600px;
  border-style: ridge;
  border-color: #757c78;
  background-color: #babfa8;
  text-align: center;

}

.content-container {
  display: flex;
  justify-content: center;
}

.work-container {
  display: grid;
  grid-template-columns: repeat (6, 1fr);
  width: 80%;
  border-style: ridge;
  border-color: #757c78;
  background-color: #babfa8;
  text-align: center;
}


.downloads {
  box-shadow: inset 0px 2px 0px 0px #757c78; /* Light Grey/Green */
}

/* Mind CSS */
